body{
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.title{
  text-align:center;
}

.question{
  color:black;
}

.btn{
  color:white;
  border:none;
  border-radius: 15px;
  width:350px;
  height:60px;
  margin: 30px 0;
  display: block;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s ease;
  background-color: #de9714;
}

.btn.dropdown-toggle{
  color:black;
  height:40px;
  /* width: 40vh; */
  border:none;
  border-radius: 8px;
  transition: 0.5s ease;
  transition: none;
  background-color: white;
}


.btn:hover{
  transform: scale(1.1);
  background-color:#222;
  color: white;
}

p{
  font-size:20px;
  color: black;
}

.quiz{
  background-color: rgba(255, 255, 255,0.8);
  border-radius:25px;
  border: none;
  padding:25px;
}

@media(max-width:992px){
  body{
    height: 120vh;
    background-position: 50%;
  }
}
