body{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-modal{
    position:relative;
    width:500px;
    height:auto;
    margin-top:4em;
    left:50%;
    transform:translateX(-50%);
    background-color:rgb(255,255,255);
    border-radius: 20px;
}

.form-modal button{
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size:1em;
    z-index: 2;
    outline:none;
    background-color:#fff;
    transition:0.2s;
}

.form-modal .login , .form-modal .signup{
    background:#de9714;
    color:#fff;
    border-radius: 25px;
    height: 45px;
    outline: none;
    border: none;
}

.form-modal .login:hover , .form-modal .signup:hover{
    background:#222;
}

.form-toggle{
    position: relative;
    width:100%;
    height:auto;
}

.form-toggle button{
    width:50%;
    float:left;
    padding:1.5em;
    margin-bottom:1.5em;
    border:none;
    transition: 0.2s;
    font-size:1.1em;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.form-toggle button:nth-child(1){
    border-bottom-right-radius: 20px;
}

.form-toggle button:nth-child(2){
    border-bottom-left-radius: 20px;
}

#login-toggle{
    background:#de9714;
    color:#ffff;
}

.form-modal form{
    position: relative;
    width:90%;
    height:auto;
    left:50%;
    transform:translateX(-50%);  
}

#login-form , #signup-form{
    position:relative;
    width:100%;
    height:auto;
    padding-bottom:1em;
}

#signup-form{
    display: none;
}


#login-form button , #signup-form button{
    width:100%;
    margin-top:0.5em;
    padding:0.6em;
}

.select, .form-modal input{
    position: relative;
    width:100%;
    font-size:1em;
    padding:1.2em 1.7em 1.2em 1.7em;
    margin-top:0.6em;
    margin-bottom:0.6em;
    border-radius: 20px;
    border:none;
    background:#ebebeb;
    font-weight: bold;
    transition:0.4s;
    outline: none;
}

.select, option{
    opacity:0.8;
    font-weight: bold;
    color:rgba(0,0,0,0.8)
}

.form-modal input:focus , .form-modal input:active{
    transform:scaleX(1.02);
}

.content{
    margin-bottom: 80px;
    opacity: 0.9;
}

@media only screen and (max-width:992px){
    .form-modal{
        width:100%;
    }
    body{
        background-position: 50%;
    }

    .content{
        margin-bottom: 40px;
    }
}
