{% extends 'BASE_FILES/baseFile.html' %}
{% load static %}
{% load my_filter %}
{% block content %}
	<div class="container-fluid">
		<div class="col-md-12 content">
			<div class="form-modal">

				<div class="form-toggle">
					<h3 id="login-toggle" style="width:100%;" disabled>Log in</h3>
					<!-- <button id="signup-toggle" onclick="toggleSignup()">Sign Up</button> -->
				</div>

				<div id="login-form">

            <h5 style="font-weight:900; color: red; text-align:center;"> YOU NEED TO LOGIN FIRST TO ACCESS THE PORTAL </h5>
						<br>
						<a href="{% url 'MCQ:login'%}">
							<button type="button" class="login">
								Try Again
							</button>
						</a>

				 </div>

			</div>

		</div>
	</div>

{% endblock %}
