{% extends 'BASE_FILES/baseFile.html' %}
{% load static %}
{% load my_filter %}
{% block content %}
	<div class="container-fluid">
		<div class="col-md-12 content">
			<div class="form-modal">

				<div class="form-toggle">
					<h3 id="login-toggle" style="width:100%;" disabled>Log in</h3>
					<!-- <button id="signup-toggle" onclick="toggleSignup()">Sign Up</button> -->
				</div>

				<div id="login-form">

						<h5 style="font-weight:900; color: green; text-align:center;">LOGGED OUT SUCCESSFUL, <br><br> THANK YOU</h5>
						<br>
						<div class="p-t-15">
							<a href="{% url 'MCQ:login' %}">
								<button class="btn btn--radius-2 btn--blue" type="submit" style="width:95%; height:53px; margin-left: 12px; background-color: #f5b400;">
									<strong>Go To Login</strong>
								</button>
							</a>
						</div>
				 </div>

			</div>

		</div>
	</div>

{% endblock %}
