{% extends 'BASE_FILES/baseFile.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row container">
    {% if user.is_superuser %}
      <div class="btn-wrapper">
        <a href="{% url 'ADMINPANEL:admin_home' %}">
          <button class="btn">
            <img src="{% static 'img/user.png' %}" class="icon">
            <br>Go To <br> Dashboard
          </button>
        </a>
      </div>

      <!-- temp -->
      <div class="btn-wrapper">
          <a href="/MikeCharlieQuebec/site/admin"><button class="btn"><img src="" class="icon"><br>Django Admin</button></a>
      </div>
      <!-- ------  -->
    {% else %}
      <div class="btn-wrapper">
          <button class="btn"><img src="{% static 'img/user.png' %}" class="icon"><br>Profile</button>
      </div>
    {% endif  %}
    {% if disabled != 'disabled' %}
      <div class="btn-wrapper">
          <a href="{% url 'MCQ:quiz' randmNmbr 1 randmNmbr2 counter 0%}"><button class="btn"><img src="{% static 'img/test.png' %}" class="icon"><br>Take Test</button></a>
      </div>
      <div class="btn-wrapper">
        <a href="{% url 'ADMINPANEL:studentreport' %}">
          <button class="btn"><img src="{% static 'img/result.png' %}" class="icon"><br>Result</button>
        </a>
      </div>
    {% endif %}
    <div class="btn-wrapper">
        <a href="{% url 'MCQ:logout' %}"><button class="btn"><img src="{% static 'img/logout.png' %}" class="icon"><br>Logout</button></a>
    </div>

  </div>
</div>
{% endblock %}
