{% extends 'BASE_FILES/baseFile.html' %}
{% load static %}
{% load my_filter %}
{% block content %}
	<div class="container-fluid">
		<div class="col-md-12 content">
			<div class="form-modal">

				<div class="form-toggle">
					<h3 id="login-toggle" style="width:100%;" disabled>Log in</h3>
					<!-- <button id="signup-toggle" onclick="toggleSignup()">Sign Up</button> -->
				</div>

				<div id="login-form">
					{% if user.is_authenticated %}
						<h5 style="font-weight:900; color: green; text-align:center;"> Thank you for the feedback. ALL THE BEST FOR THE RESULT</h5>
						<br>
						<a href="{% url 'MCQ:students_portal' %}">
							<button type="submit" class="login" style="width:50%; margin-left:25%;">
								Go To Portal
							</button>
						</a>
					{% else %}
						<form action="{% url 'MCQ:login' %}" name="frm_login" method="POST">
							{% csrf_token %}
							<input type="text" id="id_username" name="username" placeholder="Enrollment Number" required="">

							<input type="password" id="id_password" name="password" placeholder="Password" required="">

							<a href="{% url 'MCQ:register' %}" style="text-align:center; text-decoration: none; outline:none; color:#ff5900;">
								<h4 style="font-weight:900;">REGISTER</h4>
							</a>

							<hr style="border-color:black;"/>
							<input type="submit" class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" value="Login" style="width:100%; height:52px; background-color:#f5b400;">
							<input type="hidden" name="next" value="{% url 'MCQ:students_portal' %}">

						</form>
						<br>

					{% endif %}
				 </div>

			</div>

		</div>
	</div>

{% endblock %}
