{% extends 'BASE_FILES/BaseAdmin.html' %}
{% load static %}
{% load my_filter %}
{% block adminContent %}

<style media="screen">
  td, th {
    text-align:center;
  }

  #id_PROGRAM_NAME{
    width: 200px;
    height: 28px;
  }
  #id_SCHOOL_NAME{
    height: 28px;
  }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'js/school_jquery.js' %}"></script>
<div class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-tasks">

        <div class="card-body">

            <form class="mt-3 row responsive container" action="{% url 'ADMINPANEL:information'%}" method="POST" style="width: 100%; ">
              {% csrf_token %}

              <div class="row" style="margin-left:4%; margin-bottom:4%;">

                <div class="col" style="margin-top:-10px;">
                  <label class="mt-3" style="color:black; font-weight:700;">ENTER NAME</label>
                  <div class="">
                    {{form.NAME}}
                  </div>
                </div>

                <div class="col" style="margin-top:-10px;">
                  <label class="mt-3" style="color:black; font-weight:700;">SELECT SCHOOL NAME</label>
                  <div class="" >
                    {{form.SCHOOL_NAME}}
                  </div>
                </div>

                <div class="col" style=margin-top:-10px;">
                  <label class="mt-3" style="color:black; font-weight:700;">SECLECT PROGRAM NAME</label>
                  <div class="" >
                    {{form.PROGRAM_NAME}}
                  </div>
                </div>

                <div class="col" style="margin-top:-10px;">
                  <label class="mt-3" style="color:black; font-weight:700;">ENTER EMAIL ID</label>
                  <div class="" >
                    {{form.EMAIL_ID}}
                  </div>
                </div>

                <div class="col" style="">
                  <div class="mt-3">
                    <button class="btn btn-warning" type="submit" name="button" style="height:35px; width:100%; font-weight:900;">SUBMIT</button>
                  </div>
                </div>

              </div>

            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <h2 style="font-weight:900; text-align:center">OR</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card card-body">

          <div class="row">
            <div class="col" style="margin-top:2%; margin-bottom:2%;">
              <a href="{% url 'ADMINPANEL:template' 4 %}">
                <button class="btn btn-info" name="button" style="height:35px; width:100%; font-weight:900;">Download Template</button>
              </a>
            </div>
            <div class="col-1" style="margin-top:2%; margin-bottom:2%;">
              <h1 style="font-weight:900; text-align:center;">&</h1>
            </div>
            <div class="col">
              <form class="col" action="{% url 'ADMINPANEL:upload_data' 4 %}" method="POST" style="width: 100%;" enctype="multipart/form-data">
                {% csrf_token %}
                <input class="mb-3" type="file" name="document" value="" style="margin-left:25%;" required >
                <button class="btn btn-primary" type="submit" name="button" style="height:35px; width:100%; font-weight:900;">Upload File</button>

              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="content">
      <div class="col-md-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-12">
                  <!-- <h4 class="text-center text-info col-sm-12">TOTAL STRENGTH OF STUDENTS UNDER <strong>{{schoolHeader|replace}}</strong> AND SEMESTER <strong>{{semesterHeader}}</strong>
                    are <strong> <u>{{totalStrength}}</u></strong>
                  </h4> -->
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <th style="font-weight:700;">
                        NAME
                      </th>
                      <th style="font-weight:700;">
                        SCHOOL
                      </th>
                      <th style="font-weight:700;">
                        PROGRAM
                      </th>
                      <th style="font-weight:700;">
                        EMAIL
                      </th>
                    </thead>
                    <tbody>
                      {% for data in department_table %}
                        <tr>
                          <td style="font-weight:700;">
                            {{data.NAME}}
                          </td>
                          <td>
                            {{data.SCHOOL_NAME|replace}}
                          </td>

                          <td>
                            {{data.PROGRAM_NAME|replace}}
                          </td>
                          <td>
                            <a href="mailto:{{data.EMAIL_ID}}@gsfcuniversity.ac.in">{{data.EMAIL_ID}}</a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>


  </div>




<!-- </div> -->

{% endblock %}
