{% extends 'BASE_FILES/adminBasenew.html' %}
{% load static %}
{% block adminContent %}
<div class="content">

  <div class="row">
    <div class="col-12">
      <div class="card card-chart">
        <div class="card-header ">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1 class="title" ><b>UPLOAD STUDENTS DATA</b></h1>
          		<br>
              <p><b>Upload students Enrollment Numbers</b></p>
              <br>
              <form action="#" method="POST" enctype="multipart/form-data"
              style="text-align:center;">
              			{% csrf_token %}
              <input type="file" name="document" value="" required>
              <br>
              <br>
              <button class="btn btn-primary" type="submit" name="button">
                Upload File
              </button>
              <br>
              <br>
          		</form>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock %}
