{% extends 'BASE_FILES/BaseAdmin.html' %}
{% load static %}
{% load my_filter %}
{% block adminContent %}
<style media="screen">
  td, th {
    text-align:center;
  }
</style>
<div class="content">
  <div class="container-fluid">
    <div class="content">
      {% if WARNING_MSG == 'ENABLE' %}
      <div class="row">
        <div class="col-md-12">
          <div class="card card-user">
            <h2 class="text-center mt-5 title">{{MSG|safe}}</h2>
          </div>
        </div>
      </div>

      {% else%}

        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                {% for val in studentData %}
                <div class="row">
                  <h4 class="card-title col-md-6" style="font-weight:600;">{{val.FIRST_NAME}} {{val.LAST_NAME}}'s Summary</h4>
                  <h5 class="card-title col-md-6 text-primary"  style="text-align:right;">
                     Total Time Taken:  <strong style="color:black;">{{totalTimetaken|time:'i'}} Minutes {{totalTimetaken|time:'s'}} Seconds</strong>
                   </h5>
                </div>
                {% endfor %}
              </div>

              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th style="text-align: left; font-weight:900;">
                        Category
                      </th>
                      <th style="font-weight:900;">
                        Total Questions
                      </th>
                      <th style="font-weight:900;">
                        Questions Attempted
                      </th>
                      <th style="font-weight:900;">
                        Maximum Marks
                      </th>
                      <th style="font-weight:900;">
                        Correct Answers
                      </th>
                      <th class="" style="font-weight:900;">
                        Marks
                      </th>
                      <th class="" style="font-weight:900;">
                        Percentage
                      </th>
                    </thead>
                    <tbody>
                      {% for cat in studntRep %}
                        <tr>
                          <td style="text-align: left; font-weight:600;">
                            {{cat.CATEGORY|replace}}
                          </td>
                          <td>
                            10
                          </td>
                          <td>
                            10
                          </td>
                          <td>
                            20
                          </td>
                          <td>
                            {{cat.COUNT}}
                          </td>
                          <td class="">
                            {{cat.COUNT|mul:2}}
                          </td>
                          <td class="">
                            {{cat.COUNT|mul:2|perc:20}}%
                          </td>
                        </tr>
                      {% endfor %}
                      <tr style="border-top: 2px solid black; font-weight:600;">
                        <td style="text-align: left; font-weight:600;">
                          TOTAL
                        </td>
                        <td>
                          40
                        </td>
                        <td>
                          40
                        </td>
                        <td>
                          80
                        </td>
                        <td>
                          {{TOTAL_CRT}}
                        </td>
                        <td class="">
                          {{TOTAL_CRT|mul:2}}
                        </td>
                        <td class="">
                          {{TOTAL_CRT|mul:2|perc:80}}%
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- <hr> -->
                  <!-- <div class="button-container">
                    <h4 class="text-center">Some text that you want to add</h4>
                  </div> -->
                </div>

              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">
                <img src="{% static 'img/userRep_bg.jpg'%}" alt="...">
              </div>
              <div class="card-body">
                {% for val in studentData %}
                  <div class="author">
                    <a href="#" style="text-decoration:none;">
                      {% if val.GENDER|lower == 'male' %}
                        <img class="avatar border-gray" src="{% static 'img/male.png'%}" alt="{% static 'img/default-avatar.png'%}">
                      {% else %}
                        <img class="avatar border-gray" src="{% static 'img/female.png'%}" alt="{% static 'img/default-avatar.png'%}">
                      {% endif %}

                      <h5 class="title" >{{val.FIRST_NAME}} {{val.LAST_NAME}}</h5>
                    </a>
                    <p class="description" style="color:black; font-weight:600;">
                      {{val.ENROLLMENT_NUMBER}}
                    </p>
                  </div>
                  <p class="description text-center" style="color:black;">
                    <strong>Email:</strong><a href="mailto:{{val.ENROLLMENT_NUMBER}}@gsfcuniversity.ac.in"> {{val.ENROLLMENT_NUMBER}}@gsfcuniversity.ac.in</a><br>
                    <strong>Gender:</strong> {{val.GENDER}} <br>
                    <strong>School:</strong> {{val.SCHOOL|replace}}<br>
                    <strong>Program:</strong> {{val.PROGRAM|replace}} &nbsp <strong>Semester:</strong> {{val.SEMESTER}}<br>
                  </p>

                {% endfor %}
              </div>
              <hr>
              <div class="button-container">
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                  <i class="fab fa-twitter"></i>
                </button>
                <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                  <i class="fab fa-google-plus-g"></i>
                </button>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <!-- pie chart -->
          <div class="col-md-4">
            <div class="card card-user">
              <figure class="highcharts-figure mt-3">
                <div id="container"></div>
              </figure>
            </div>
          </div>
          <!-- column chart -->
          <div class="col-md-8">
            <div class="card card-user">
              <figure class="highcharts-figure mt-3">
                <div id="timeChart"></div>
              </figure>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- time series column chart -->
          <div class="col-md-12">
            <div class="card card-user">
              <figure class="highcharts-figure mt-3">
                <div id="columnChart"></div>
              </figure>
            </div>
          </div>

        </div>

        <div class="row">
          <!-- time series each question chart -->
          <div class="col-md-12">
            <div class="card card-user">
              <figure class="highcharts-figure mt-3">
                <div id="timeEach"></div>
              </figure>
            </div>
          </div>

        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">

            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th style="text-align: center; font-weight:900;">
                      Sr
                    </th>
                    <th style="text-align: center; font-weight:900;">
                      QUESTION ID
                    </th>
                    <th style="font-weight:900;">
                      QUESTION
                    </th>
                    <th style="font-weight:900;">
                      CATEGORY
                    </th>
                    <th style="font-weight:900;">
                      ANSWERED CORRECTLY
                    </th>
                  </thead>
                  <tbody>
                    {% for cat in questionTable %}
                      <tr>
                        <td style="text-align: center; font-weight:600;">
                          {{ forloop.counter }}
                        </td>
                        <td style="text-align: center; font-weight:600;">
                          {{cat.QUESTION_ID}}
                        </td>
                        <td style="text-align: left; font-weight:600;">
                          {{cat.ACTUAL_QUESTION}}
                        </td>
                        <td style="text-align: center; font-weight:600;">
                          {{cat.CATEGORY|replace}}
                        </td>
                        {% if cat.ANSWER == cat.CORRECT_ANSWER %}
                          <td>
                            <i class="now-ui-icons ui-1_check" style="font-weight:900; color:#009407;"></i>
                          </td>
                        {% else %}
                          <td>
                            <i class="now-ui-icons ui-1_simple-remove" style="font-weight:900; color:#f20000;"></i>
                          </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <!-- <hr> -->
                <!-- <div class="button-container">
                  <h4 class="text-center">Some text that you want to add</h4>
                </div> -->
              </div>

            </div>
          </div>
        </div>


    {% endif %}

    </div>
  </div>

</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<!-- pie chart -->
<script>
  Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie',
    },

    title: {
        text: 'Performance per Category'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.y:.1f}%</b>'

    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.y:.1f} %'
            }
        }
    },
    series: [{
        name: 'Percentage',
        colorByPoint: true,
        data: {{piechartSeries|safe}}
    }],
    credits: {
        enabled: false
    },
});
</script>
<!-- column chart -->
<script>
  Highcharts.chart('columnChart', {
    chart: {
        type: 'column'
    },
    title: {
        text: '<b>Performance per Category</b>'
    },
    xAxis: {
        categories: {{categoryList|safe}},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Count'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b> {point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            borderRadius: 3,
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{columnSeries|safe}},
    credits: {
        enabled: false
    },
});
</script>

<!-- time chart -->
<script>
  Highcharts.chart('timeChart', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'TIME TAKE TO COMPLETE EACH CATEGORY'
    },
    xAxis: {
        categories: {{categoryList|safe}},
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: '<b>Time (in minute)</b>'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">Time: </td>' +
            '<td style="padding:0"><b> &nbsp {point.y} minutes</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            borderRadius: 3,
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: {{timeTakenSeries|safe}},
    credits: {
        enabled: false
    },
});
</script>

<script>
  Highcharts.chart('timeEach', {
    chart: {
        type: 'column'
    },
    title: {
        text: '<b>TIME TAKEN PER QUESTION</b>'
    },
    subtitle: {
        text: "<b style='color:#15d629;'>GREEN COLUMNS</b> Signifies Correct Answers  <b style='color:#ff3030;'>  RED COLUMNS</b> Signifies Incorrect Answers"
    },
    xAxis: {

        categories: {{catQstnID|safe}},
        title: {
            enabled: true,
            text: '<b>QUESTION IDs</b>',
            style: {
                fontWeight: 'normal'
            }
        }

    },
    yAxis: {

      type: 'logarithmic',
      minorTickInterval: 0.1,
        title: {
            text: '<b>TIME</b>',
        },
        labels: {
            format: '{value} sec',
          }

    },
    tooltip: {
        valueSuffix: ' seconds'
    },
    plotOptions: {
        column: {
            borderRadius: 2.75,
            colorByPoint: true,
            dataLabels: {
                enabled: true,
                format: '{y} Sec'
            },
            colors:{{colorType|safe}},

        },


    },

    legend: {

        enabled: false
    },
    credits: {
        enabled: false
    },
    series: {{qstnDtaSeries|safe}}
});
</script>
{% endblock %}
