{% extends 'BASE_FILES/baseFile.html' %}
{% load static %}
{% block content%}
<link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
  <div class="container-fluid">
  	<div class="col-md-2">
    </div>
  	<div class="col-md-8 quiz">
  		<h1 class="title"><b>FILE UPLOADED</b></h1>
  		<br>
      <a href="{% url 'ADMINPANEL:admin_home' %}" style="text-decoration:none; outline:none;">
        <button class="btn btn-primary" type="submit" name="button" style="margin-left:36%;">
          GO BACK
        </button>
      </a>
  		</form>

  	</div>
  </div>

{% endblock %}
