{% extends 'BASE_FILES/adminBase.html' %}
{% load static %}
{% block adminContent %}
  <div class="content">
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h1 class="title"><b>FILE UPLOADED</b></h1>
            		<br>
                <a href="{% url 'ADMINPANEL:uploadfiles' %}" style="text-decoration:none; outline:none;">
                  <button class="btn btn-primary" type="submit" name="button">
                    GO BACK
                  </button>
                </a>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
